@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;500;700&display=swap");
:root {
  --primary-clr: #f1f1e7;
  --secondary-clr: #141414;
  --accent-clr: #757171;
  --secondary-accent-clr: #555050;
  --opacity-accent-clr: rgba(117, 113, 113, 0.5);
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --accent-font: "Libre Caslon Text", serif;
  --header-size-l: 8rem;
  --header-size-m: 6rem;
  --header-size-s: 3rem;
  --content-title-size-l: 2rem;
  --content-title-size-m: 1.5rem;
  --content-title-size-s: 1.2rem;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: var(--primary-font);
  background-color: var(--primary-clr);
  margin: 0 10rem;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  border-bottom: 2px solid var(--accent-clr);
}
.navbar .logo {
  font-size: 2rem;
}
.navbar .logo h2 {
  display: inline;
  font-family: var(--secondary-font);
}
.navbar .logo span {
  font-size: 1.5rem;
}
.navbar .links a {
  padding: 0.5rem 2rem;
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  border-radius: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--secondary-clr);
}
